# Dependencies
node_modules
package-lock.json

# VSCode settings and keybindings
.vscode

# Build folder and unnessasary tracking files
dist
assets/css
assets/js

# Environment varibales
.env*
!.env*.example

# Database
*.data.json
