@import "./tailwind.css";

.transition-bg-200 {
    transition: background-color 0.2s;
}

.page-loading {
    @apply fixed top-0 right-0 bottom-0 left-0 z-50 flex items-center justify-center bg-white;

    &::after {
        @apply w-10 h-10 mr-4 rounded-full border-2 border-encacap-main animate-spin;

        border-top-color: transparent;
        content: "";
    }

    &.hidden {
        @apply hidden;
    }
}

.form {
    input {
        @apply text-black;

        background: none;
    }
    ::-webkit-input-placeholder {
        @apply text-gray-400;
    }
    &-group &-message {
        @apply hidden;
    }
    &-group.danger,
    &-group.error {
        @apply text-red-500 border-red-300 bg-red-100;
    }
    &-group.danger &-message,
    &-group.error &-message {
        @apply block;
    }
    &-group.focus {
        @apply border-encacap-main;
    }
}

.spinner {
    @apply animate-spin;

    border-top-color: transparent;
}

.btn {
    @apply flex items-center justify-center;

    &:disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    .spinner {
        @apply hidden;
    }

    &.loading {
        .spinner {
            @apply block;
        }
    }
}
