@import "./tailwind.css";

.transition-bg-200 {
    transition: background-color 0.2s;
}

.page-loading {
    @apply fixed top-0 right-0 bottom-0 left-0 z-100 flex items-center justify-center bg-white;

    &::after {
        @apply w-10 h-10 mr-4 rounded-full border-2 border-encacap-main animate-spin;

        border-top-color: transparent;
        content: "";
    }

    &.hidden-loading {
        @apply hidden;
    }
}

.form {
    input {
        @apply text-black;

        background: none;
    }
    ::-webkit-input-placeholder {
        @apply text-gray-400;
    }
    &-group {
        @apply relative hover:border-encacap-main;
    }
    &-overlay {
        @apply absolute top-0 left-0 right-0 bottom-0 z-10 bg-white bg-opacity-60 hidden rounded-md;
    }

    &-group.disabled &-overlay {
        @apply block;
    }
    &-group.disabled:hover {
        @apply border-gray-100 cursor-not-allowed;
    }
    &-group &-message {
        @apply hidden;
    }
    &-group.danger,
    &-group.error {
        @apply text-red-500 border-red-300 bg-red-100 !important;
    }
    &-group.danger &-message,
    &-group.error &-message {
        @apply block;
    }
    &-group.focus {
        @apply border-encacap-main;
    }

    &-loading {
        @apply absolute top-12 right-6 z-20 hidden w-4 h-4 rounded-full border-2 border-encacap-main animate-spin;

        top: 53px;
        border-top-color: transparent;
    }
    &-group.loading &-loading {
        @apply block;
    }
}

.spinner {
    @apply animate-spin;

    border-top-color: transparent;
}

.btn {
    @apply flex items-center justify-center;

    &:disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    .spinner {
        @apply hidden;
    }

    &.loading {
        .spinner {
            @apply block;
        }
    }
}
